[general]
state_file = /var/awslogs/state/agent-state
logging_config_file = /var/awslogs/etc/logging.conf

{% for logfile in aws_cloudwatch_client_logfiles %}
[{{ logfile['file'] }}]
log_group_name = {{ logfile['file'] }}
{% for key in logfile.keys() -%}
{{- key }} = {{ logfile[key] }}
{% endfor %}

{% endfor %}
